*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: opacityChange 1s;
    text-decoration: none;
}
@keyframes opacityChange {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
#load{
    display: none;
}
/* == Loading Screen == */
.loading{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #eeeeee;
}
.loader {
    border: 4px solid #ffffff;
    border-radius: 50%;
    border-top: 4px solid #555555;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin .5s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(360deg); 
    }
  }
  
  @keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
  }
/* == || End Loading Screen == */
section{
    height: 800px;
    width: 100vw;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 0px 0px 0px 40px;
    background-color: #33333352;
    position: relative;
}
nav a{
    padding: 10px;
}
nav .bar{
    height: 4px;
    width: 25px;
    border-radius: 1px;
    margin: 4px 8px;
    background-color: #ffffff;
    transition: 0.2s;
    position: relative;
}
nav a:hover .bar:nth-child(1){
    width: 6.25px;
}
nav a:hover .bar:nth-child(2){
    width: 12.5px;
}
nav span{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}
nav .links{
    height: 100vh;
    width: 400px;
    position: fixed;
    right: -400px;
    top: 0;
    background-color: #00000033;
    z-index: 10;
}
nav .links.active{
    right: 0px;
    animation: fromRight 1s normal;
}
@keyframes fromRight {
    from{
        opacity: 1;
        right: -400px;
    }
    to{
        opacity: 1;
        right: 0px;
    }
}
nav .links.hide{
    right: -400px;
    animation: toLeft 1s;
}
@keyframes toLeft {
    from{
        opacity: 1;
        right: 0px;
    }
    to{
        opacity: 1;
        right: -400px;
    }
}
nav .links .cancel-btn{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding: 10px;
    position: relative;
    top: 2px;
    left: 20px;
    cursor: pointer;
}
nav .links .link{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding: 20px 0px;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: block;
}
nav .links .link:hover{
    background-color: #33333366;
}
.banner{
    height: 720px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #33333352;
}
.banner-text{
    height: fit-content;
    width: fit-content;
    padding: 0px 0px 0px 40px;
    transform: translateY(-60px);
    animation: moveTop 1s;
}
@keyframes moveTop {
    from{
        opacity: 0;
        transform: translateY(4px);
    }
    to{
        opacity: 1;
    }
}
.banner-text h1{
    font-size: 80px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    margin: 20px 0px;
    text-align: left;
}
.banner-text p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    margin: 20px 0px;
    text-align: left;
}
.banner-text button{
    height: 50px;
    width: 200px;
    border: 0;
    border-radius: 2px;
    outline: none;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    margin: 20px 0px;
    cursor: pointer;
}
.banner-text button:hover{
    background-color: #333333;
    color: #ffffff;
    transition: all ease 0.4s;
}
.breadcrumb{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}
.breadcrumb a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #eeeeee;
    font-family: 'Nunito', sans-serif;
}
.breadcrumb span:nth-child(2){
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #eeeeee;
    margin: 0px 4px;
    font-family: 'Nunito', sans-serif;
}
.breadcrumb span:nth-child(3){
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #eeeeee;
    font-family: 'Nunito', sans-serif;
}
main{
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}
.portfolio{
    height: fit-content;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0px;
}
.portfolio h1{
    font-size: 24px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    margin: 10px 0px;
    text-align: center;
}
.portfolio span{
    width: 91px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    margin: 10px 0px;
    text-align: center;
    display: flex;
    align-items: center;
}
.portfolio-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-link button{
    height: 50px;
    width: 200px;
    border: 0px;
    border-radius: 4px;
    outline: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}
.portfolio span i{
    font-size: 16px;
    margin: 0px 8px;
}
.portfolio a, p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
}
.portfolio a:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}
.skills{
    height: fit-content;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    height: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-text{
    box-sizing: border-box;
    padding: 0px 12px;
    height: 250px;
    width: 250px;
}
.skill-text h4{
    font-size: 24px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    margin: 0px;
    text-align: left;
}
.skill-text p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: #333333;
    margin: 0px;
    text-align: left;
}
footer{
    height: fit-content;
    width: 100%;
}
.copyright{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    background-color: #333333;
    color: #ffffff;
    margin: 0px;
}

/* == ABOUT PAGE == */
.about{
    width: 900px;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px 0px;
    margin: auto;
}
.about h1{
    font-family: 'Nunito', sans-serif;
    margin: 10px 0px;
}
.about p{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    margin: 10px 0px;
}
.about iframe{
    min-height: 400px;
    aspect-ratio: 16/9;
}
/* == || ABOUT PAGE == */

/* == PORTFOLIO == */
.portfolio{
    width: fit-content;
    margin: auto;
}
.gallery{
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gallery .col{
    height: 360px;
    width: 280px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 8px;
    text-decoration: none;
}
#gallery-one .col:nth-child(1){
    background-image: url('img/train.jpg');
}
#gallery-one .col:nth-child(2){
    background-image: url('img/slow.jpg');
}
#gallery-one .col:nth-child(3){
    background-image: url('img/person.jpg');
}
#gallery-two .col:nth-child(1){
    background-image: url('img/it.jpg');
}
#gallery-two .col:nth-child(2){
    background-image: url('img/lens.jpg');
}
#gallery-two .col:nth-child(3){
    background-image: url('img/drone.jpg');
}
.gallery .col .col-text{
    height: 360px;
    width: 280px;
    background-color: #00000077;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    visibility: hidden;
    transition: all ease .2s;
}
.gallery .col:hover .col-text{
    visibility: visible;
    cursor: pointer;
}
.col-text strong{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 10px;
}
.col-text p{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0;
}
/* == || PORTFOLIO == */
/* ==  == */
/* ==  == */
/* ==  == */
/* ==  == */
/* ==  == */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}